button{
    padding: 1em;
    font-size: 2em;
    margin-bottom: 1rem;
}

button:hover{
    background-color: gray;
    cursor: pointer;
    color: white;
}

.container {
    width: 80%;
    max-width: 600px;
    min-width: 370px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container button {
    flex-basis: 23%;
}

.result {
    flex-basis: 100%;
    padding: 0px 10px;
    height: 10em;
    display: flex;
    justify-content: flex-end;
    margin: 1em 0;
}

.result input[type="text"] {
    width: 100%;
    border: 2px solid gray;
    font-size: 2em;
    font-weight: bold;
    text-align: end;
    padding: 1em;
    margin-bottom: 0.5em;
}