.title {
    margin: 4vh 0;
    font-size: 2rem;
    color: black;
    font-weight: 100;
}

form {
    width: initial;
}

form div{
    width: 50%;
    display: inline-block;
    margin: 1vh 0;
}

form div input{
    height: 5vh;
    width: 95%;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(84, 84, 84);
    font-weight: bold;
}

form div input::placeholder{
    font-size: 1rem;
    font-weight: 100;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }  

.actions{
    width: 100%;
}
#frase {
    text-align: left;
    margin: 4vh 0;
    font-size: 1rem;
    color: black;
    font-weight: 100;
    line-height: 1.5;
}

.container {
    width: 90%;
    margin: 5%;
}

.button-calcular{
    margin: 1vh 0;
    width: 100%;
    background: #00BCD4;
    color: white;
    cursor: pointer;
    border: transparent;
    font-size: 1em;
}

.button-calcular:active{
    background: rgba(2, 40, 255, 0.05);
    color: #00BCD4;
}

.cleanRt svg{
    cursor: pointer;
    width: 32px;
    height: 32px;
    color: rgb(77, 77, 77);
    margin-top: 14%;
    padding: 10%;
}
.actions{
    display: inline-flex;
    align-items: center;
    width: -webkit-fill-available;
}